@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TAEBAEKfont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

.godo * {
  font-family: 'Godo', sans-serif;
}

@font-face {
  font-family: 'HallymGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.origin-nav {
  position: fixed;
  width: 100%;
}

.change-nav {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 10px 10px -10px black;
  z-index: 999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 12vw;
}

.nav-me {
  font-family: "TAEBAEKfont";
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}

.nav-etc {
  display: flex;
}

.nav-etc > p {
  padding: 0 2rem;
  font-family: "TAEBAEKfont";
  font-size: 1rem;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}

.nav-me:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-etc > p:hover {
  opacity: 1;
  cursor: pointer;
}

.change {
  color: black;
  opacity: 1;
}

.change:hover {
  color: #147bb7;
}

.change > p {
  color: black;
  opacity: 1;
}

.change > p:hover {
  color: lightblue;
}

.portfolio {
  width: 100%;
  height: 100vh;
  background-color: #37383b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  font-family: 'TheJamsil5Bold';
  font-size: 3vw;
  white-space: pre;
  color: white;
  border-right: 3px solid white;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 1s step-end infinite ,typing steps(26) 2s ;
  text-align: center;
  width: 100%;
}

.more-button {
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  color: white;
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  cursor: pointer;
  animation: moveUpDown 1s linear infinite;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.show {
  opacity: 0.6;
}

.more-button:hover {
  opacity: 1;
}

@keyframes moveUpDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from { width: 0 }
}

.main {
  height: 550vh;
}

.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  padding-top: 5vh;
}

.introduce-title {
  font-family: 'TAEBAEKfont';
  font-size: 3rem;
  font-weight: 900;
  word-spacing: 1rem;
  border-bottom: 3px solid black;
  border-image: linear-gradient(to left, white, black) 1;
}

.introduce-myself {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "TheJamsil5Bold"
}

.introduce-self {
  font-size: 1.5rem;
  font-family: "TAEBAEKfont";
  display: flex;
  margin-top: 1rem;
}

.introduce-self > img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 0 1rem;
}

.self-1 {
  display: flex;
  padding: 2rem;
}

.self-1 > div {
  padding: 0 1rem;
}

.self-1 > div > span {
  font-family: "Pretendard-Regular";
}

.Education {
  background-color: #FFE05C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.education-title {
  font-family: 'TAEBAEKfont';
  font-size: 3rem;
  font-weight: 900;
  word-spacing: 1rem;
  border-bottom: 3px solid;
  border-image: linear-gradient(to left, white, #0066CC) 1;
  color: white;
  margin: 1rem;
}

.education-container {
  width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 5vh;
  padding: 2rem;
  justify-content: center;
}

.container-1 {
  font-family: 'JalnanGothic';
  font-size: 1.2rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container-2 > div {
  font-family: 'JalnanGothic';
  font-size: 1.2rem;
  margin: 1rem;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5vh;
  background-color: #1f4078;
  padding-bottom: 5vh;
}

.skills-title {
  font-family: 'TAEBAEKfont';
  font-size: 3rem;
  font-weight: 900;
  word-spacing: 1rem;
  border-bottom: 3px solid black;
  border-image: linear-gradient(to left, white, gold) 1;
  color: white;
  margin: 1rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 5vh;
  width: 40rem;
}

.level-explain {
  font-family: "Pretendard-Regular";
  font-size: 1rem;
  color: #0066CC;
  font-weight: bold;
}

.filled-star {
  color: rgb(243, 198, 072);
}

.outline-star {
  color: rgb(221, 221, 221);
}

.skills-badge {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

.skills-badge > img {
  border-radius: 5px;
  margin: .7rem;
  width: 15rem;
  height: 3rem;
}

.skills-badge > img:hover {
  scale: 1.1;
  opacity: 0.7;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c9c4b5;
  position: relative;
  padding-top: 5vh;
}

.projects-title {
  font-family: 'TAEBAEKfont';
  font-size: 3rem;
  font-weight: 900;
  word-spacing: 1rem;
  border-bottom: 3px solid black;
  border-image: linear-gradient(to left, white, #c9c9c9) 1;
  color: white;
  margin: 1rem;
  margin-bottom: 2rem;
}

.projects-main {
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 10vh;
}

.project-main-title {
  text-align: center;
  font-family: "TAEBAEKfont";
  font-size: 2rem;
}

.project-main-title:hover {
  color: #4A6FDC;
  cursor: pointer;
}

.project-main-title > div {
  font-size: 1.2rem;
}

.project-explain {
  display: flex;
  margin: 0 2rem;
  height: 100%;
}

.img-container {
  width: 50%;
  height: 50vh;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.img-container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.git-btn {
  background-color: #1f4078;
  color: white;
  font-family: 'Godo';
  font-size: 1.5vw;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #1f4078;
  color: white;
  text-wrap: nowrap;
  margin: 0 3rem;
}

.git-btn:active {
  border: 1px solid #1f4078;
  background-color: white;
  color: #1f4078;
}

.project-main-text {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  letter-spacing: 1px;
}

.project-main-text > p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  align-self: flex-start;
  font-size: 1rem;
}

.project-period {
  align-self: flex-start;
}

.project-main-function {
  display: flex;
  align-items: start;
  margin: 0;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.function {
  background-color: #4A6FDC;
  margin: 0 0.5rem;
  border-radius: 20px;
  color: white;
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.project-main-skill {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.skill {
  background-color: #1f4078;
  color: white;
  border-radius: 20px;
  margin: 0 0.5rem;
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.project-learned {
  margin: 1rem 2rem;
}

.project-learned > p {
  font-family: "BMDOHYEON";
}

.project-learned > ol {
  background-color: #e0e5f5;
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Pretendard-Regular";
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 150%;
}

.project-learned > ol > li > span {
  background-color: #4A6FDC;
  color: white;
  padding: 0 0.5rem;
  border-radius: 20px;
  font-family: "Quicksand", Arial, sans-serif;
}

footer {
  background-color: black;
  height: 20vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright {
  filter:brightness(0) invert(1);
  width: 12px;
  height: 12px;
}

.footer-imgbox > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 .5rem;
  cursor: pointer;
}

.gmail {
  background-color: white;
}

.up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: none;
  padding: .5rem;
  border-radius: 50%;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
}

.up:active {
  opacity: 0.5;
}

span {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium';
  font-weight: bold;
}

@media (max-width: 1200px) {
  .project-main-text > p {
    font-size: 1vw;
  }

  .project-period {
    font-size: 1vw;
  }

  .project-main-function {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
  }
  
  .function {
    background-color: #4A6FDC;
    margin: 0 0.5rem;
    border-radius: 20px;
    color: white;
    padding: 0.3rem 1rem;
    font-size: 1vw;
  }
  
  .project-main-skill {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .skill {
    background-color: #1f4078;
    color: white;
    border-radius: 20px;
    margin: 0 0.5rem;
    padding: 0.3rem 1rem;
    font-size: 1vw;
  }
}